
<div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <h2>{{ message }}</h2>
    <br>
    <button appMyDirective>this is button</button>
 <!-- <div>
    <app-home></app-home>
    
  </div><br>-->
  <!--<div>
    <app-directives (childEvent)="message=$event" [parentData]="name"></app-directives>
  </div>-->
  <!--<div>
    <app-test></app-test>
  </div>-->
  <!--<div>
    <app-employee-list></app-employee-list>
  </div>
  <div>
    <app-employee-detail></app-employee-detail>
  </div>-->
  <div>
    <app-list-employee></app-list-employee>
  </div>
 
</div>