<h3 style="text-align: left">{{ inputData }}</h3>

<input type="text" [(ngModel)]="inputData" value="text"/>

<!--<input #myInput type="text">
<button (click)="logMessage(myInput.value)">log</button>-->





<!--<button (click)="onclick($event)">Greet</button>
<button (click)="greeting='Welcome to Angular 5'">Greet2</button>
{{ greeting }}-->
<!--<h2 class="text-success">Employees</h2>
<h2 [class]="successClass">Employees</h2>
<h2 class="text-spacial" [class]="successClass">Employees</h2>
<h2 [class.text-danger]="hasError">Employees</h2>
<h2 [ngClass]="messageClasses">Employees</h2>-->

<!--<h2 [style.color]="'orange'">Employees - StyleBinding</h2>
<h2 [style.color]="hasError ? 'red':'green'">Employees - StyleBinding</h2>
<h2 [style.color]="highlightedColor">Employees - StyleBinding</h2>
<h2 [ngStyle]="titleStyles">Employees - StyleBinding</h2>-->
